.gallery-box{
    text-align: center;
}
.gallery-box-default{
    display: flex;
    align-items:center;
    justify-content:center;
    width: 373px;
    height: 280px;
    margin: auto;
    border: 1px solid #000;
}
.gallery-button{
    display: block;
    width: 375px;
    height: 50px;
    margin: auto;
    cursor: pointer;
}