.camera-wrapper{
    display: flex;
    justify-content:center;
    width: 100%;
    margin: 50px 0;
}
.camera-box{
    position: relative;
    width: 373px;
    height: 280px;
    display: inline-block;
    background: url('https://st2.depositphotos.com/6736296/11636/v/950/depositphotos_116367032-stock-illustration-web-social-flat-icon-camera.jpg');
    border: 1px solid #000;
}
.camera-video {
    width: 375px;
    height: 280px;
}
.camera-mask{
    position: absolute;
    width: 200px;
    height: 200px;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(33, 224, 8, 0.3);
    border-radius: 50%;
}
.camera-button{
    display: block;
    width: 375px;
    height: 50px;
    cursor: pointer;
}
.camera-canvas {
    display: none;
}